@model MainSpecialBoxEditDto
@{
}


<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">MainSpecialBox /</span>Edit</h4>

        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <h5 class="card-header">MainSpecialBox</h5>
                    <div class="card-body">
                        <form asp-action="edit" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

                                @* Name *@
                                <div class="col-6">
                                    <label style=" font-size: 18px; " asp-for="@Model.MainSpecialBox.Title" class="form-label">Başlıq</label>
                                    <input asp-for="@Model.MainSpecialBox.Title" type="text" class="form-control" placeholder=".........">
                                    <span asp-validation-for="@Model.MainSpecialBox.Title" class="text-danger"></span>
                                    <input asp-for="@Model.MainSpecialBox.Id" value="@Model.MainSpecialBox.Id" type="hidden">
                                </div>

                                @* IsFirstBox *@
                                <div style=" display: flex; align-items: center; " class="col-6">
                                    <label style=" margin-bottom:0px; font-size: 18px; " asp-for="@Model.MainSpecialBox.IsFirstBox" class="form-label">Üst box</label>
                                    <input style="font-size: 18px;margin-top: 0;margin-left: 10px;" asp-for="@Model.MainSpecialBox.IsFirstBox" class="form-check-input" placeholder=".........">
                                    <span asp-validation-for="@Model.MainSpecialBox.IsFirstBox" class="text-danger"></span>
                                </div>

                                @* Image *@

                                <div  style="margin-top:5px;" class="col-6">
                                    <label style=" font-size: 18px; " asp-for="MainSpecialBox.ImageFile" class="form-label">Şəkil</label>
                                    <div class="input-group">
                                        <input asp-for="MainSpecialBox.ImageFile" type="file" class="form-control">
                                        <span asp-validation-for="MainSpecialBox.ImageFile" class="text-danger"></span>
                                    </div>
                                    <div style="margin-top:10px;">
                                        @if (Model.MainSpecialBox.Image != null)
                                        {
                                            <img style="width:200px; height:180px;" src="~/uploads/MainSpecialBoxs/@Model.MainSpecialBox.Image" />
                                        }
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end col-12">
                                    <a asp-action="index" asp-controller="MainSpecialBox" class="btn btn-outline-warning mt-2">Geriyə qayıtmaq</a>
                                    <button type="submit" class="ms-3 btn btn-outline-primary mt-2">Yaratmaq</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>

@section Scripts{
}